#content {
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  font-family: Cambria;
  line-height: 2;
}

#greeting-container {
  margin-top: 20px;
}

.s-m{
 position:center;
}

.s-m a{
 display:inline-flex;
 width:40px;
 height:40px;
 background:black;
 color:white;
 margin:0 8px;
 border-radius:50%;
 justify-content:center;
 align-items:center;
 transition:0.4s;
 font-size:22px;
}

.s-m a:hover > i{
 transform:scale(1.2);
}